<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Post Comment</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
        integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<div class="container">
  <h1>Post Comment</h1>
  <hr>
  <form action="#" th:action="@{/save_comment/{id}(id=${book.id})}" method="POST">
    <input type="text" th:value="${comment}" name="comment" class="form-control mb-4 col-4">
    <button type="submit" class="btn btn-info col-2">Save</button>
  </form>
  <hr>
  <a th:href="@{/}">Back to Books</a>
</div>
</body>
</html>